<a href="https://colab.research.google.com/github/DavPess/Python3/blob/main/c_digos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
conta_1 = int(input("Digite um numero "))
conta_2 = int(input("Digite um numero "))
conta_3 = conta_1 + conta_2
print("Resultado é: {}".format(conta_3))

Digite um numero 60
Digite um numero 60
Resultado é: 120

In [ ]:
nome = input("Digite seu nome: ")
print("Olá {}, Prazer em te conhecer!".format(nome))

Digite seu nome: David
Olá David, Prazer em te conhecer!

In [ ]:
nome = input("Qual seu nome? ")
idade = input("Qual sua idade? ")
peso = input("Qual seu peso? ")
print("Seus dados são: \nnome: {} \nidade: {} \nPeso: {}".format(nome, idade, peso))
print("Obrigado {} pelas informações, Bem Vindo!".format(nome))

Qual seu nome? David
Qual sua idade? 25
Qual seu peso? 63
Seus dados são:
nome: David
idade: 25
Peso: 63
Obrigado David pelas informações, Bem Vindo!

In [ ]:
banana = float(input("Valor da banana: "))
arroz = float(input("Valor do arroz: "))
feijao = float(input("Valor do feijão: "))
total = banana + arroz + feijao
print("Total: {}".format(total))

Valor da banana: 25.20
Valor do arroz: 10.80
Valor do feijão: 30.35
Total: 66.35

In [ ]:
banana_1 = 25
arroz_1 = 25
feijao_1 = 25


banana = float(input("Quantidade de banana: "))
arroz = float(input("Quantidade de arroz: "))
feijao = float(input("Quantidade de feijão: "))
totalbanana = banana * banana_1
totalarroz = arroz * arroz_1
totalfeijao = feijao * feijao_1
totalgeral = totalbanana + totalarroz + totalfeijao

print("Quantidade: \nTotal Banana {} \nTotal Arroz {} \nTotal Feijão {} \nTotal Geral {}1".format(totalbanana, totalarroz, totalfeijao, totalgeral))

Quantidade de banana: 5
Quantidade de arroz: 2
Quantidade de feijão: 3
Quantidade:
Total Banana 125.0
Total Arroz 50.0
Total Feijão 75.0
Total Geral 250.01

In [ ]:
dia = int(input("Digite o dia do seu nascimento: "))
mes = int(input("Digite o mês do seu nascimento: "))
ano = int(input("Digite o ano do seu nascimento: "))
idade = 2023 - ano
print("Sua idade é: {}, e sua data de nascimento é: {}/{}/{}".format(idade, dia, mes, ano))

Digite o dia do seu nascimento: 16
Digite o mês do seu nascimento: 11
Digite o ano do seu nascimento: 2001
Sua idade é: 22, e sua data de nascimento é: 16/11/2001

In [ ]:
A = float(input("Digite um numero: "))
B = float(input("Digite um numero: "))
#C=  A + B
print("O resultado é: {}".format(A + B))

Digite um numero: 10
Digite um numero: 10
O resultado é: 20.0

In [ ]:
#calculo de média faculdade
n1 = float(input("Digite n1: "))
n2 = float(input("Digite n2: "))
n3 = (n1 + n2)/2
print("Média5: {}".format(n3))

Digite n1: 12
Digite n2: 2
Média5: 7.0

In [ ]:
#se não declarar que o numero é inteiro ou decimal, não ocorre a soma, o + junta os dois valores.

#int = numero inteiro
#float = numero real (que contém decimal)
#bool = booleanos, verdadeiro(True) ou falso(False)
#str = strings (caracteres dentro "")

Digite n1 2

Digite n2 2
Média: 22

In [ ]:
n1 = input("Digite n1 ")
n2=  input("\nDigite n2 ")

n3 = n1 + n2
print("Média: {}".format(n3))

In [ ]:
n1 = int(input("Digite um valor "))
n2 = int(input("Digite um valor "))
s = n1 + n2
#print("A soma entre", n1, "e" ,n2, "vale: ", s)

#ao invés de colocar tudo entre "", abre chaves {} e coloca o .format e coloca os valores dentro do .format
print("A soma entre, {} e {} vale {}".format(n1, n2, s))

Digite um valor 5
Digite um valor 2
A soma entre, 5 e 2 vale 7

In [ ]:
n = input("Digite alguma coisa: ")
#print(type(n))
#tipo = type(n)
#print("valor: "+n+"\nTipo: "+tipo)
#print(n.isalnum)
print("O valor é: {} o tipo é {}".format(n, type(n)))

Digite alguma coisa: 12
O valor é: 12 o tipo é <class 'str'>

In [ ]:
n1 = input("Digite um valor: ")

if n1.isnumeric():

  tipo = "int"
elif n1.isdecimal():
  tipo = "float"
elif n1.isalpha():
  tipo = "str"
#elif(n1.isascii):
  #tipo = "bool"
print("o valor é: {} \n tipo: {}".format(n1,tipo))

Digite um valor: oi
o valor é: oi
 tipo: str

In [8]:
n1 = input("Digite um valor: ")
print("O tipo primitivo desse valor é: ", type(n1))
print("Só tem espaços? ", n1.isspace())
print("É um número? ", n1.isnumeric())
print("É alfabético? ", n1.isalpha())
print("É alfanumérico? ", n1.isalnum())
print("Está em maiúscula? ",  n1.isupper())
print("Está em minúsculo?", n1.islower())
print("Está capitalizada? ", n1.istitle())

Digite um valor: Python
O tipo primitivo desse valor é:  <class 'str'>
Só tem espaços?  False
É um número?  False
É alfabético?  True
É alfanumérico?  True
Está em maiúscula?  False
Está em minúsculo? False
Está capitalizada?  True

In [15]:
n1 = input("Digite um valor: ")
print("O tipo primitivo é: ", type(n1),
      "\nTem espaços? ", n1.isspace(), 
      "\nÉ um número: ", n1.isnumeric(), 
      "\nÉ alfabético? ", n1.isalpha(), 
      "\nÉ alfanumérico? ", n1.isalnum(),
      "\nEstá em maiúscula? ", n1.isupper(),
      "\nEstá em minúscula? ", n1.islower(),
      "\nEstá capitaliza? ", n1.istitle())

Digite um valor: Abra123
O tipo primitivo é:  <class 'str'>
Tem espaços?  False
É um número:  False
É alfabético?  False
É alfanumérico?  True
Está em maiúscula?  False
Está em minúscula?  False
Está capitaliza?  True

In [17]:
#não precisa colocar "virgula", quando utilizar o .format
n1 = input("Digite algo: ")
print("O tipo primitivo é: {}"
      "\nTem espaços? {} "
      "\nÉ alfabético? {}".format(type(n1), n1.isspace(), n1.isalpha()))

Digite algo: David
O tipo primitivo é: <class 'str'>
Tem espaços? False
É alfabético? True